[submodule "pt-v5-cgda-liquidator"]
	path = pt-v5-cgda-liquidator
	url = https://github.com/GenerationSoftware/pt-v5-cgda-liquidator
[submodule "pt-v5-draw-auction"]
	path = pt-v5-draw-auction
	url = https://github.com/GenerationSoftware/pt-v5-draw-auction
[submodule "remote-owner"]
	path = remote-owner
	url = https://github.com/GenerationSoftware/remote-owner
[submodule "pt-v5-vault-boost"]
	path = pt-v5-vault-boost
	url = https://github.com/GenerationSoftware/pt-v5-vault-boost
